.director {
  position: relative;
  &__container {
  }
  &__decor {
    position: absolute;
    right: 0;
    z-index: -1;
    opacity: 0.7;
  }

  &__title {
    margin-bottom: 50px;
    color: $blue;
  }

  &__body {
    display: flex;
    gap: 60px;
    @media (max-width: $md2) {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  &__photo {
    flex: 0 1 50%;
  }

  &__img {
    padding-bottom: 100%;
    border-radius: 20px;
    @media (max-width: $md2) {
      padding-bottom: 60%;
    }
    @media (max-width: $md4) {
      padding-bottom: 100%;
    }
  }

  &__info {
    flex: 0 1 50%;
  }

  &__name {
    color: $red;
    margin-bottom: 50px;
  }

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
